body {
    margin: 0px;
    background-image: url("assets/protruding-squares.svg");
}


/* keyframes */
.float {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.float:hover {
    box-shadow: 0 4px 4px 0 #000000, 0 4px 4px 0 #000000;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
}

.anim {
    animation: gbounce 0.5s;
    animation-iteration-count: 2.5;
    animation-timing-function: ease-out;
}

@keyframes gbounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

/**/


.img_div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header {
    display: flex;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    justify-content: space-between;
    background-color: #1b1b1b79;
    border-bottom: solid 2px #000000;
}


.header span {
    color: #11ffb8af;
}

.title,
.logo {
    margin: 0;
    padding: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.github-logo {
    width: 40px;
}


.main-btn-container {
    width: 100%;
    margin-top: 2rem;
    flex: 1;
}


.button-container {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 3rem;
}


button,
.restart-button {
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.45em;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.45em 1.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:active,
.restart-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}



#main h2 {
    position: absolute;
    left: 23%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#main p,
.result {
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.result {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

/* ************************ */
.result-container,
.player-score-container,
.computer-score-container,
.winner-container {
    color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border: solid 2px #000000;
    padding: 1;
    margin-bottom: 1rem;
    background-color: #1b1b1b79;
}

/* ************************ */


/*RESTART BUTTON*/



#restart-btn {
    display: flex;
    justify-content: center;
}

/*RESTART BUTTON*/



/*********************MEDIA QUERIES*********************/


@media screen and (max-width: 1800px) {

    #main h2 {
        position: absolute;
        left: 21%;
    }
}

@media screen and (max-width: 1200px) {
    #main h2 {
        position: relative;
        left: 0%;
        font-size: 19px;
        margin: 18px 0px;
    }

    #main p {
        font-size: 18px;
    }

    .header {
        font-size: 9px;
    }

    .title,
    .logo {
        padding: 10px;
        gap: 10px;
    }

    .github-logo {
        width: 25px;
    }

}



@media screen and (max-width: 800px) {
    #main h2 {
        position: relative;
        left: 0%;
        color: white;
        font-size: 16px;
        margin: 18px 0px;
        font-family: 'Courier New', Courier, monospace;
    }

    #main p {
        font-size: 16px;
    }

    .img_left,
    .img_right {
        width: 15rem;
    }

    button,
    .restart-button,
    .result {
        font-size: 17px;
    }

}


@media screen and (max-width: 567px) {
    #main h2 {
        position: relative;
        left: 0%;
        color: white;
        font-size: 11px;
        margin: 12px 0px;
        font-family: 'Courier New', Courier, monospace;
    }

    #main p {
        font-size: 11px;
    }

    .img_left,
    .img_right {
        width: 9rem;
    }

    button,
    .restart-button,
    .result {
        font-size: 12px;
    }

    .header {
        font-size: 6px;
    }

}


@media screen and (max-width: 400px) {

    #main h2 {
        position: relative;
        left: 0%;
        color: white;
        font-size: 11px;
        margin: 11px 0px;
        font-family: 'Courier New', Courier, monospace;
    }

    #main p {
        font-size: 11px;
    }



    .img_left,
    .img_right {
        width: 7rem;
    }

    button,
    .restart-button,
    .result {
        font-size: 10px;
    }

    .header {
        font-size: 5px;
    }

    .title,
    .logo {
        padding: 2px 0px;
    }

}

/*********************MEDIA QUERIES*********************/